* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

@font-face {
  font-family: "clashFamily";
  src: url();
}

.page-content {
  margin-left: 40px auto;
  padding: 0px;
}

.container {
  max-width: 100vw;
  margin: 0px auto;
  padding: 0px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container-A {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}
.container-2 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  color: #050505;
}
.container-2b {
  display: flex;
  width: 40%;
}
.container-2 img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: block;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  font-size: larger;
}
.content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.content h4 {
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.logo {
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-links a {
  margin-right: 20px;
  color: #020202;
  text-decoration: none;
}

.download-button {
  background-color: #090909;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #cad7cb;
}
.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -400px;
  margin-left: 500px;
}
.iphone1 {
  width: -10%;
  height: 2px;
  margin-left: 20px;
  padding-top: 20px;
}
.iphone2 {
  width: -30%;
  height: 2px;
  margin-left: -20px;
  padding-top: 20px;
}
.iphone3 {
  margin-left: -20px;
  margin-bottom: 500px;
}
.container-4 {
  position: absolute;
  top: 70%;
}
.container-5 {
  width: 100%;
  display: flex;
}

.container-5c {
  width: 100%;
  margin-left: 20%;
  margin-top: 5%;
  font-size: larger;
}
.container-5c p {
  margin-bottom: 10px;
}
.container-5c h1 {
  margin-bottom: 10px;
}
.container-5c h4 {
  font-size: x-large;
  padding-left: 10;
  margin-top: 10%;
  margin-bottom: 5%;
}
.container-5a {
  width: 8%;
  padding: -10px;
  margin-left: -10%;
  margin-top: 2%;
}
.container-5b {
  width: 48%;
  margin-left: 1%;
  margin-top: -9%;
}
.container-5b img {
  margin-top: -70px;
  margin-right: 40%;
}

.container-6a {
  width: 50%;
  margin-left: 10%;
}
.container-6a h4 {
  font-weight: bolder;
  margin: 20px 0px;
}
.container-6a img {
  margin-top: -20px;
  padding: 10;
}

.container-6 {
  width: 100%;
  display: flex;
}
.container-7 {
  width: 100%;
  position: relative;
  display: flex;
}
.container-7b {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14%;
  margin-left: 17%;
}
.container-7c {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14%;
  margin-left: 50%;
}
.container-7c h2 {
  margin-bottom: 6%;
}

.container-8 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15%;
  margin-left: -130px;
}

.container-8 h3 {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 80px;
  margin-bottom: px;
  padding: 0px;
}
.container-8 h1 {
  font-weight: bolder;
  font-size: 40px;
  margin-left: 2px;
  margin-bottom: ;
}
.container-10 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding-top: 10%;
}
.container-11 {
  width: 100%;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Table {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
}

table {
  width: 800px;
  height: 200px;
}

th {
  font-size: xx-large;
}

td {
  text-align: center;
}
.imglogo {
  margin-left: 10%;
}
